* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #303031;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  background-color: darkorange;
  color: #222;
  border: 1px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: darkorange;
  transition: 0.3s;
  color: #fff;
}

.flow:hover {
  letter-spacing: 0.2rem;
  transition: 0.5s;
}

.flow span {
  color: darkorange;
}
