.about {
  width: 100%;
}

.about-container {
  display: flex;
  width: 80%;
  margin: auto;
  height: auto;
  margin: auto;
  /* border: 1px solid red; */
  /* justify-content: space-around; */
  text-align: justify;
  /* gap: 10px; */
}

.container-left {
  width: 30%;
  margin: auto;
  border-radius: 10px;
  /* border: 1px solid white; */
}

.container-left img {
  width: 70%;
  border-radius: 10px;
}

.container-right {
  width: 45%;
  padding: 1rem;
  /* margin-top: 20px; */
  /* margin: auto; */
  /* border: 1px solid white; */
}
.container-right h1 {
  margin-bottom: 20px;
}

.my-details {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.my-details-all p {
  color: darkorange;
  margin-top: 10px;
}

.my-details-all p span {
  color: #fff;
}

.my-skills {
  height: auto;
  width: 75%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20px;
}

.skill-continer > div {
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid darkorange;
  width: 75%;
  margin: auto;
  margin-top: 16px;
}

.skill-continer > div > h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.skills-details {
  display: flex;
  gap: 1rem;
}

.small {
  color: #fff;
  font-size: 0.8rem;
}

.tech-stacks {
  height: auto;
  width: 75%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20px;
}

.tech-stack-container {
  width: 70%;
  height: auto;
  border: 1px solid darkorange;
  padding: 2rem;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  border-radius: 2rem;
}

.tech-card {
  height: 130px;
  width: 130px;
  background: #fff;
  border-radius: 30px;
  margin: auto;
}

.tech-card img {
  width: 100%;
}

.educations {
  height: auto;
  width: 75%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20px;
}

.education-container {
  width: 70%;
  height: auto;
  border: 1px solid darkorange;
  padding: 2rem;
  margin: auto;
  margin-top: 20px;
  border-radius: 2rem;
}

.education {
  width: 90%;
  height: auto;
  border: 1px solid darkorange;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 10px;
}

.education-year {
  width: 30%;
  height: 12px;
  display: flex;
  border: 1px solid darkorange;
  padding: 1rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.education-year > .year {
  font-size: small;
}

.fromWhere {
  width: 80%;
  height: 12px;
  display: flex;
  /* border: 1px solid darkorange; */
  padding: 1rem;
  border-radius: 2rem;
  align-items: center;
  margin-top: 10px;
}

.fromWhere h3 {
  color: #fff;
}

.whatPersued {
  width: 90%;
  height: 12px;
  /* border: 1px solid darkorange; */
  display: flex;
  padding: 1rem;
  font-size: 14px;
  align-items: center;
  margin-top: 10px;
}

.git-hub {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.git-hub > .hi {
  margin: auto;
  color: white;
}

@media screen and (max-width: 1024px) {
  .about-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    height: 100%;
    margin: auto;
    text-align: justify;
  }

  .container-left {
    width: 50%;
    margin: auto;
  }

  .container-right {
    width: 60%;
    padding: 1rem;
    margin: auto;
  }

  .container-right h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container-right p {
    font-size: 9px;
  }

  .my-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
  }

  #my-details-all-right {
    margin-top: -15px;
  }

  .tech-stacks {
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .education-year {
    width: 40%;
  }
}

@media screen and (max-width: 849px) {
  .tech-stacks {
    height: auto;
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  .tech-card {
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech-card img {
    width: 80%;
  }
}

@media screen and (max-width: 660px) {
  .about-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    height: 100%;
    margin: auto;
    text-align: justify;
  }

  .container-left {
    width: 90%;
    margin: auto;
  }

  .container-right {
    width: 100%;
    padding: 1rem;
  }

  .container-right h1 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .container-right p {
    font-size: 9px;
  }

  .my-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
  }

  #my-details-all-right {
    margin-top: -15px;
  }

  .about-heading {
    text-align: center;
  }

  .my-skills {
    height: auto;
    width: 99%;
    margin: auto;
    margin-top: 20px;
  }

  .skill-continer > div {
    width: 98%;
    padding: 2rem 1rem;
  }

  .skills-details .experince-details-icons {
    font-size: 10px;
  }

  .skills-details div h4 {
    font-size: 9px;
  }

  .skills-details div small {
    font-size: 8px;
  }

  #experince-details-icons-id {
    font-size: 14px;
  }

  .tech-stacks {
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
  }

  .tech-stack-container {
    width: 98%;
    height: auto;
    border: 1px solid darkorange;
    padding: 2rem;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    border-radius: 2rem;
  }

  .educations {
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
  }

  .education-container {
    width: 100%;
    height: auto;
    border: 1px solid darkorange;
    padding: 2rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 2rem;
  }

  .education {
    width: 100%;
    height: auto;
    border: 1px solid darkorange;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 10px;
  }

  .education-year {
    width: 100%;
    height: 12px;
    display: flex;
    border: 1px solid darkorange;
    padding: 1rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10pxx; */
  }

  .fromWhere {
    width: 100%;
    height: 12px;
    display: flex;
    /* font-size: 10px; */
    padding: 0.9rem;
    border-radius: 2rem;
    align-items: center;
    margin-top: 10px;
  }

  .fromWhere h3 {
    font-size: 12px;
  }

  .whatPersued {
    width: 100%;
    height: 12px;
    /* border: 1px solid darkorange; */
    display: flex;
    padding: 1rem;
    font-size: 14px;
    align-items: center;
    margin-top: 10px;
  }

  .whatPersued p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1261px) {
  .fromWhere {
    margin-bottom: 3px;
    font-size: 10px;
  }
}

/* favicon.ico */
/* logo192.png */
