/* .xyz {
  height: auto;
  border: 1px solid #fff;
  margin-top: 30px;
} */

.streak {
  width: 60%; /*kbkbkjbkbk  */
  margin: auto;
  /* border: 1px solid red; */
  /* height: 100px; */
  height: auto;
  margin-top: 10px;
}

.streak a img {
  height: 100%;
  width: 100%;
}

.git-hub-stats {
  width: 80%;
  /* height: 300px; */
  display: flex;
  margin: auto;
  gap: 10px;
}

.git-hub-stats .top-langs {
  width: 40%;
  height: 300px;
  /* border: 1px solid blue; */
}

.git-hub-stats .top-langs a img {
  height: 100%;
  width: 100%;
}

.git-hub-stats .show-icons {
  width: 50%;
  height: 300px;
  /* border: 1px solid blue; */
}

.git-hub-stats div .top-lang img {
  width: 100%;
}

.git-hub-stats div .show-icon img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .git-hub-stats {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
  }

  .git-hub-stats .top-langs {
    width: 100%;
    /* border: 1px solid blue; */
  }

  .git-hub-stats .show-icons {
    width: 100%;
    /* border: 1px solid blue; */
  }
}

@media screen and (max-width: 454px) {
  .streak {
    height: auto;
  }

  .git-hub-stats .top-langs {
    width: 40%;
    height: auto;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: -0.01px;
  }

  .git-hub-stats .show-icons {
    width: 70%;
    height: auto;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: -130px;
  }
}
